body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #0f172a; /* dark navy */
}
.calculator_container_button {
  position: relative;
  top: 150px;
  background-color: #1e293b; /* slate blue */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 420px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
#display {
  width: 98%;
  height: 80px;
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 10px;
  background-color: #020617; /* near black */
  border: 1px solid #e8eef5;
  color: #e5e7eb;
  border-radius: 10px;
  border: none;
}
.button {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-auto-rows: auto;
  gap: 10px;
}
.button button {
  height: 50px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #334155;
  color: #ffffff;
  border: none;
}
.btn-equal {
  background-color:#ff6a00 !important;
  color: #ffffff;
}

.btn-equal:hover {
  background-color: #ea580c;
  transform: scale(1.03);
}

.calculator_container_button .btn:hover {
  filter: brightness(1.1);
}

.btn-equal {
  grid-column: span 3;
}
.calculator_container_button .btn-warning {
  background-color: #2563eb;
}
.calculator_container_button .btn-warning:hover {
  background-color: #1d4ed8;
}
