  body {
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      height: 100vh;
      background-color: #0d1b2a;
    }
    .calculator_container {
      position: relative;
      top: 150px;
      background: #1b263b;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      height: 380px;
    }
    #display {
      width: 98%;
      height: 70px;
      font-size: 1.5rem;
      text-align: right;
      margin-bottom: 10px;
      background-color: #0F1A2B;
      border: 1px solid #E8EEF5;
      color: #bdc5cf;
      border-radius: 10px;
    }
    .button {
      display: grid;
      grid-template-columns: repeat(4, 70px);
      grid-auto-rows: auto;
      gap: 10px;
    }
    button {
      height: 50px;
      font-size: 1.2rem;
      border: none;
      border-radius: 5px;
      background: #415a77;
      cursor: pointer;
      transition: background 0.2s;
      color: #ffffff;
    }
    .equal {
      background-color: #ff6d00 ;
      color: #fff;
      width: 230px;
    }
    .equal:hover {
      background-color: #ff8c1a;
      scale: 1.05;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
    button:hover{
        background: #778da9;
        scale: 1.05;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }